.cart {
  background-color: white;
  height: auto;
  width: 100%;
  padding: 110px 400px 200px;
}



.columns {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.cart-inner__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #000000;
}

.cart-rows {
  background-color: white;
  border-top: 2px solid rgba(196, 196, 196, 0.56);
}

.cart-rows:nth-child(odd) {
  background-color: white;
}

.cart-rows:first-child {
  border-top: 0px solid rgba(196, 196, 196, 0.56);
  border-bottom: 2px solid rgba(255, 168, 1, 0.58);
}
  
.cart-inner__items__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.second-column div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #152536;
  width: 182px;
  height: 60px;
  text-align: left;
  margin-right: 40px;
}

.first-column__div {
  background-color: white;
  margin-right: 40px;
  border-radius: 7.16113px;
  margin-top: 18px;
  margin-bottom: 18px;
  filter: drop-shadow(0px 2.86445px 17.9028px rgba(0, 0, 0, 0.19));
}


.clear-column-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffa801;
  background-color: white;
  padding: 12px 30px;
  outline: 1px solid #ffa801;
  border-radius: 100px;
  transition-duration: 0.5s;
}

.clear-column-button:hover {
  color: white;
  background-color: #ffa801;
  outline: 1px solid #ffa801;
}

.first-column__div__photo {
  background-color: white;
  border-radius: 7.16113px;
  padding: 5px 0;
}

.result-column {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  color: #ffa801;
  margin-left: 213px;
}

.third-column {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #ffa801;
}

.quantity-column {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  color: #000000;
  margin-left: 87px;
}

.cost-column {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  color: #000000;
  margin-left: 70px;
}

.fourth-column div {
  display: flex;
  background: #ffffff;
  border: 0.800948px solid #ffa801;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  width: 78px;
  height: 30px;
  margin: 0 40px 0 48px;
}

.mobile-columns {
  display: none;
}

.clear-column2 {
display: none;
}

.fourth-column div button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  color: rgba(21, 37, 54, 0.48);
  background-color: white;
}

.fourth-column div h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  color: #152536;
}

.fifth-column div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #ffa801;
  margin-right: 30px;
}

.cart-inner__items__heading-div {
  padding-right: 40px;
}

@media screen and (max-width: 1839px) {
  .cart {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (max-width: 1463px) {
  .cart {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.item {
  display: none;
}

@media screen and (max-width: 730px) {
  .cart {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
  }

  .cart-table {
    display: none;
  }

  .item {
    margin-top: 30px;
    display: flex;
  }

  .item__photo {
    background-color: white;
    padding: 4px 0px;
    border-radius: 7.16113px;
    filter: drop-shadow(0px 2.86445px 17.9028px rgba(0, 0, 0, 0.19));
  }

  .item__right-group {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    width: 100%;
  }

  .item__right-group-top {
    height: 45px;
    width: 100%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #152536;
    position: relative;
    padding-right: 50px;
  }

  .item__right-group-top img {
    position: absolute;
    right: 0;
    top: 0px;
  }

  .item__right-group-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .item__right-group-bottom div {
    display: flex;
    background: #ffffff;
    border: 0.50316px solid #ffa801;
    border-radius: 9.42308px;
    align-items: center;
    height: 20px;
    width: 50px;
    justify-content: space-between;
    position: absolute;
    bottom: -55px;
    padding: 0 5px;
  }

  .item__right-group-bottom div button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 9px;
    color: rgba(21, 37, 54, 0.48);
    background-color: white;
  }

  .item__right-group-bottom div h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 9px;
    color: #152536;
  }

  .price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: #ffa801;
    position: absolute;
    bottom: -53px;
    right: 0;
  }

  .columns {
      display: none;
  }

  .mobile-items {
      display: flex;
      flex-direction: column;
  }

  .mobile-columns {
      display: flex;
      margin-top: 30px;
  }

  .clear-column-button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffa801;
    background-color: white;
    padding: 12px 30px;
    outline: 1px solid #ffa801;
    border-radius: 100px;
    transition-duration: 0.5s;
    margin-top: 30px;
  }
  
  .clear-column-button:hover {
    color: white;
    background-color: #ffa801;
    outline: 1px solid #ffa801;
  }
  
  .result-column {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    color: #ffa801;
    margin-left: 0px;
  }
  
  .quantity-column {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: #000000;
    margin-left: 60px;
  }
  
  .cost-column {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: #000000;
    margin-left: 50px;
    white-space: nowrap;
    position: absolute;
    right: 19px;
  }

  .clear-column2 {
    display: block;
  }
}
