.NotFoundPage {
  height: auto;
  background-color: white;
  width: 100%;
}

.NotFoundPage-inner-404 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 144px;
  line-height: 216px;
  color: #ffa801;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 104px;
}

.NotFoundPage-inner-404 span h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #ffa801;
  font-weight: 600;
  font-size: 144px;
  line-height: 216px;
  width: 106px;
  height: 144px;
  line-height: 144px;
}

.NotFoundPage-inner-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 65px;
}

.NotFoundPage-inner-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 105px;
}

.NotFoundPage-inner-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffa801;
  outline: 1px solid #ffa801;
  background-color: white;
  margin-right: 32px;
  padding: 14px 40px;
  border-radius: 25.5px;
  transition-duration: 0.5s;
}

.NotFoundPage-inner-button:hover {
    color: white;
    outline: 1px solid #ffa801;
    background-color: #ffa801;
}
  
@media screen and (min-height: 1110px) {
  .NotFoundPage {
    height: 60vh;
    background-color: white;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .NotFoundPage-inner-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 105px;
  }

  .NotFoundPage-inner-button {
    margin-top: 20px;
    margin-right: 0;
  }
}